<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @portfolio.name %>
</p>

<ul>
  <% @portfolio.projects.each do |project| %>
    <li><%= link_to project.title, portfolio_project_path(@portfolio, project) %></li>
  <% end  %>
  <li><%= link_to 'Add Project', new_portfolio_project_path(@portfolio) %></li>
</ul>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
